* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h3{
  font-size: 40px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

img {
  display: block;
  max-width: 100%;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__nav {
  position: absolute;
  z-index: 20;
  top: 35px;
  display: flex;
  align-items: center;
  padding: 0 31px;
  height: 131px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 30px #00000029;
  position: fixed;
}

.header__nav a{
  font-size: 1.3rem;
}

.main-page-link{
  position: relative;
}

.main-page-link::after{
  content: "";
  position: absolute;
  width: 115%; 
  left: 50%;
  height: 3px;
  margin-top: 3px;
  background-color: #0059A8;
  display: block;
  transform: translateX(-50%);
}

.header__nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#language {
  width: 106px;
  height: 34px;
  border-radius: 10px;
  background: black;
  color: white;
  opacity: 0.2;
  padding: 5px 5px 5px 2.2rem;
}

.header__nav .name {
  width: 272px;
  height: 71px;
  text-align: left;
  font: normal normal 600 50px/76px Poppins;
  letter-spacing: 0px;
  color: #2c4861;
  margin: 0 395px 0 0;
}

.header__nav li {
  padding-right: 65px;
}

.language-conatiner {
  position: relative;
}

.language-icon {
  position: absolute;
  right: 6.5rem;
  z-index: 10;
  width: 24px;
  height: 24px;
}

.language-text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/*Swiper header*/

.header.swiper {
  width: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.header .swiper-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00315c 0% 0% no-repeat padding-box;
  opacity: 0.2;
  z-index: 2;
  pointer-events: none;
}

.swiper-wrapper {
  position: relative;
}

.eurobuild .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1234px;
}

.text-container__title {
  display: flex;
  flex-direction: column;
  width: 1234px;
  height: auto;
  gap: 20px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 65px;
  margin-bottom: 84px;
}

.text-container__paragraph{
  font-size: 20px;;
}

.services-container__title {
  text-align: left;
  width: 100%;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1234px;
  margin-bottom: 124px;
}

.underlined span {
  display: inline-block;
  position: relative;
}

.underlined span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 64px);
  height: 3px;
  background: #0059a8;
}

.services-container__item {
  padding-top: 53px;
  width: 396px;
  height: 194px;
}

.services-container__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-container__list {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.services-container .item-description {
  width: 309px;
  height: 149px;
  margin-top: -30px;
  background-color: white;
  position: relative;
  float: right;
}

.item-description a {
  color: #0074db;
  position: absolute; 
  right: 0; 
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1234px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 52px;
}

.slide-image-container img {
  width: 610px;
  height: 325px;
  object-fit: cover;
}

.swiper-slide.custom-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.slide-image-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 610px;
  text-align: left 
}

.news {
  width: 1234px;
  margin: 0 auto;
  margin-bottom: 100px;
}


.news-slider__details{
  color: #47A4F5;
}

.news-slider__separator{
  width: 212px;
  height: 1px; 
  background-color: #47A4F5;
  border: none;
}

/* CONTACT INFO */

.contact-info {
  position: relative;
  display: flex;
  justify-content: center;
  background: none;
}

.contact-info__container {
  width: 1920px;
  height: 546px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.contact-info__title{
  margin-bottom: 1rem;
}

.contact-info__address{
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.contact-info__details{
  width: 549px;
}

.contact-info__color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(50vw - 960px);
  background-color: rgba(71, 164, 245, 0.3);
  z-index: 0;
}

.contact-info__right-color {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 45rem;
  width: 1200px;
  background-color: rgba(71, 164, 245, 0.3);
  z-index: 0;
}

.contact-info__image {
  height: auto;
  width: 697px;
  height: 429px;
}

.contact-info__content {
  display: flex;
  justify-content: center;  
  align-items: center;      
  flex-direction: row;   
  width: 100%;  
  gap: 9rem;            
}

.contact-info__image {
  width: 697px;
  height: 429px;
  overflow: hidden;
  object-fit: cover;
  -webkit-box-shadow: 75px 60px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 75px 60px 0px 0px rgba(255,255,255,1);
  box-shadow: 75px 60px 0px 0px rgba(255,255,255,1);

}

.contact-info__social-icons,
.footer__icons{
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.vacancies{
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-top: 70px;
}

.vacancies__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1234px;
  padding-bottom: 2rem;
}

.vacancies__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vacancies__view-all{
  cursor: pointer;
  margin-top: 2rem;
}

.vacancies__item{
  width: 1234px;
  height: 133px;
  background: rgba(71, 164, 245, 0.3) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between; 
  gap: 3rem; 
  padding-left: 3rem;
  padding-right: 3rem;
}


.vacancies__position{
  font-size: 26px;
  font-weight: bold;
  margin-right: 4rem;
}

.vacancies__detail1{
  margin-right: -2.8rem;
}

.vacancies__value{
  color: #47A4F5;
}

.vacancies__button{
  width: 132px;
  height: 41px;
  background: #47A4F5 0% 0% no-repeat padding-box;
  border: none;
  color: white;
  border-radius: 3px;
}

.vacancies__detail{
  display: flex;
  flex-direction: column;
}

.vacancies{
  margin-bottom: 132px;
}

.vacancies__view-all{
  color: #47A4F5;
}



.materials{
  background-color: rgba(225, 225, 225, 0.3); 
  margin-bottom: 13rem;
}

.materials-container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  padding-top: 152px;
  padding-bottom: 152px;
  width: 1722px;
  margin: 0 auto;
}

.materials.slide-image-container {
  position: relative; 
  width: 638px;       
  height: 342px;   
  overflow: hidden;   
}

.materials-carousel-container img{
  position: relative;
  width: 100%;      
  height: 100%; 
  object-fit: cover;
}

 .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 164, 245, 0.8); 
  pointer-events: none; 
  z-index: 1; 
}
.slide_image {
  position: relative;
}

.slide-image-container__text-wrapper {
  position: absolute;           
  top: 50%;                     
  left: 50%;                    
  transform: translate(-50%, -50%); 
  width: 496px;                 
  height: 197px;                
  background-color: white;      
  padding: 20px;                
  z-index: 2;                   
  box-sizing: border-box;       
}

.slide-image-container__text-wrapper h5{
  font-size: 25px;
  color: #47A4F5;
}

.slide-image-container__text-wrapper span{
  color: #47A4F5;
}

.slide-image-container__text-wrappe.price{
   font-size: 1.6rem;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  height: 3em;
  line-height: 1.5em;
  white-space: normal;
}



.footer{
  box-sizing: border-box;
  padding-top: 2.5rem;
  height: 344px;
  background: #2C4861 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}

.footer .footer__brand{
  width: 291px;
  height: 93px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 12rem;
}

.wrapper {
  flex: 1 1 30%; 
  max-width: 30%; 
  color: white;
}

.footer__brand-name{
  color: #2C4861;
}

.footer__catalogs {
  display: flex; 
  flex: 1 1 70%; 
  justify-content: space-between; 
  gap: 14rem; 
}

.footer__catalog-title{
  color: white;
  font-size: 1.6rem;
}

.footer__catalog-list {
  list-style: none;
  color: white;
  font-size: 1.2rem;
}

.footer__catalog-item {
  margin: 5px 0;
}
