* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 40px;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__nav {
  position: absolute;
  z-index: 20;
  top: 35px;
  display: flex;
  align-items: center;
  padding: 0 31px;
  height: 131px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 30px #00000029;
  position: fixed;
}

.header__nav a {
  font-size: 1.3rem;
}

.main-page-link {
  position: relative;
}

.main-page-link::after {
  content: "";
  position: absolute;
  width: 115%;
  left: 50%;
  height: 3px;
  margin-top: 3px;
  background-color: #0059a8;
  display: block;
  transform: translateX(-50%);
}

.header__nav-list {
  display: flex;
  align-items: center;
}

#language {
  width: 106px;
  height: 34px;
  border-radius: 10px;
  background: black;
  color: white;
  opacity: 0.2;
  padding: 5px 5px 5px 2.2rem;
}

.header__nav-item--name {
  width: 272px;
  height: 71px;
  text-align: left;
  font: normal normal 600 50px/76px Poppins;
  letter-spacing: 0px;
  color: #2c4861;
  margin: 0 395px 0 0;
}

.header__nav-item a{
  color: black;
}

.header__nav li {
  padding-right: 65px;
}

.header__language-icon {
  position: absolute;
  right: 6.5rem;
  z-index: 10;
  width: 24px;
  height: 24px;
}

.language-text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/*Swiper header*/

.header.swiper {
  width: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.header .swiper-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00315c 0% 0% no-repeat padding-box;
  opacity: 0.2;
  z-index: 2;
  pointer-events: none;
}

.swiper-wrapper {
  position: relative;
}

.company-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1234px;
}

.company-info__text-container-title {
  display: flex;
  flex-direction: column;
  width: 1234px;
  height: auto;
  gap: 20px;
}

.company-info__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 65px;
  margin-bottom: 84px;
}

.company-info__paragraph {
  font-size: 20px;
}

/* SERVICES */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1234px;
  margin-bottom: 11rem;
}

.services__title {
  text-align: left;
  width: 100%;
}

.underlined span {
  display: inline-block;
  position: relative;
}

.underlined span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 64px);
  height: 3px;
  background: #0059a8;
}

.services__item {
  padding-top: 53px;
  width: 396px;
  height: 194px;
}

.services__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__item-title{
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
}

.services__list {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.services__item-description {
  width: 309px;
  height: 149px;
  margin-top: -30px;
  background-color: white;
  position: relative;
  float: right;
  padding: 1rem 1rem 1rem 1rem;
}

.services__item-link {
  color: #0074db;
  position: absolute;
  right: 0;
  margin-top: 0.8rem;
}

/* NEWS */

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1234px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 52px;
  overflow: visible;
}

.slide-image-container img {
  width: 610px;
  height: 325px;
  object-fit: cover;
}

.swiper-slide.custom-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.slide-image-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 610px;
  text-align: left;
}

.news {
  width: 1234px;
  margin: 0 auto;
  margin-bottom: 12rem;
  position: relative;
  overflow: visible;
}

.news-slider__details {
  color: #47a4f5;
}

.news-slider__separator {
  width: 212px;
  height: 1px;
  background-color: #47a4f5;
  border: none;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: calc(1234px + 12rem); 
  pointer-events: auto;
  z-index: 10; 
}

.previous, .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #47A4F5;
  border-radius: 25%;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 10px 20px #0000001A;
}

.previous:hover, .next:hover {
  opacity: 1;
}

.previous img, .next img {
  width: 24px; 
  height: 24px; 
}


/* CONTACT INFO */

.contact-info {
  position: relative;
  display: flex;
  justify-content: center;
  background: none;
}

.contact-info__container {
  width: 1920px;
  height: 546px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.contact-info__title {
  margin-bottom: 1rem;
}

.contact-info__address {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.contact-info__details {
  width: 549px;
}

.contact-info__color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(50vw - 960px);
  background-color: rgba(71, 164, 245, 0.3);
  z-index: 0;
}

.contact-info__right-color {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 45rem;
  width: 1200px;
  background-color: rgba(71, 164, 245, 0.3);
  z-index: 0;
}

.contact-info__image {
  height: auto;
  width: 697px;
  height: 429px;
}

.contact-info__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 9rem;
}

.contact-info__image {
  width: 697px;
  height: 429px;
  overflow: hidden;
  object-fit: cover;
  -webkit-box-shadow: 75px 60px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 75px 60px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 75px 60px 0px 0px rgba(255, 255, 255, 1);
}

.contact-info__social-icons,
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contact-info__join{
  color: #47a4f5;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}

/* VACANSIES */

.vacancies {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-top: 70px;
  margin-bottom: 132px;
}

.vacancies__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1234px;
  padding-bottom: 2rem;
  margin-top: 7rem;
}

.vacancies__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vacancies__view-all {
  cursor: pointer;
  margin-top: 2rem;
}

.vacancies__item {
  width: 1234px;
  height: 133px;
  background: rgba(71, 164, 245, 0.3) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.vacancies__position {
  font-size: 26px;
  font-weight: bold;
  margin-right: 4rem;
}

.vacancies__detail1 {
  margin-right: -2.8rem;
}

.vacancies__value,
.vacancies__view-all {
  color: #47a4f5;
}

.vacancies__button {
  width: 132px;
  height: 41px;
  background: #47a4f5 0% 0% no-repeat padding-box;
  border: none;
  color: white;
  border-radius: 3px;
}

.vacancies__detail {
  display: flex;
  flex-direction: column;
}

/* MATERIALS */

.materials {
  background-color: rgba(225, 225, 225, 0.3);
  margin-bottom: 13rem;
}

.materials-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  padding-top: 152px;
  padding-bottom: 152px;
  width: 1722px;
  margin: 0 auto;
}

.materials.slide-image-container {
  position: relative;
  width: 638px;
  height: 342px;
  overflow: hidden;
}

.materials-carousel-container img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.layer {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
  background-color: rgba(71, 164, 245, 0.8);
  pointer-events: none;
  z-index: 1;
}

.slide_image {
  position: relative;
}

.slide-image-container__text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 496px;
  height: 197px;
  background-color: white;
  padding: 20px;
  z-index: 2;
  box-sizing: border-box;
}

.slide-image-container__title {
  font-size: 25px;
  color: #47a4f5;
  margin-bottom: 0.5rem;
}

.slide-image-container__text-wrapper span {
  color: #47a4f5;
}

.slide-image-container__text-wrapper .price {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  height: 3em;
  line-height: 1.5em;
  white-space: normal;
  font-size: 1.1rem;
}

.footer {
  box-sizing: border-box;
  padding-top: 2.5rem;
  height: 344px;
  background: #2c4861 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}

.footer__brand {
  width: 291px;
  height: 93px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12rem;
  position: relative;
}

.wrapper {
  flex: 1 1 20%;
  max-width: 30%;
  color: white;
}

.footer__brand-name {
  color: #2c4861;
}

.footer__catalogs {
  display: flex;
  flex: 1 1 70%;
  justify-content: space-between;
  gap: 12rem;
}

.footer__catalog-title {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.footer__catalog-list {
  color: white;
  font-size: 1.2rem;
}

.footer__catalog-item {
  margin: 5px 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer__catalog-item a{
  color: white;
}

.footer__copyright{
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.swipe-up {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: calc(10px - 15rem);
  cursor: pointer;
  opacity: 0.55;
  background-color: rgba(71, 164, 245, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.swipe-up img {
  transform: rotate(270deg);
  max-width: 100%;
  max-height: 100%;
}
