* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__nav {
  position: absolute;
  z-index: 3;
  top: 35px;
  display: flex;
  align-items: center;
  padding: 0 31px;
  height: 131px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 30px #00000029;
}
.header__nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#language {
  width: 106px;
  height: 34px;
  border-radius: 10px;
  background: black;
  color: white;
  opacity: 0.2;
  padding: 5px 5px 5px 2.2rem;
}

.header__nav .name {
  width: 272px;
  height: 71px;
  color: var(--unnamed-color-2c4861);
  text-align: left;
  font: normal normal 600 50px/76px Poppins;
  letter-spacing: 0px;
  color: #2c4861;
  margin: 0 395px 0 0;
}

.header__nav li {
  padding-right: 65px;
}

.language-conatiner {
  position: relative;
}

.language-icon {
  position: absolute;
  right: 6.5rem;
  z-index: 10;
  width: 24px;
  height: 24px;
}

.language-text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/*Swiper header*/

.swiper {
  width: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00315c 0% 0% no-repeat padding-box;
  opacity: 0.2;
  z-index: 2;
  pointer-events: none;
}

.swiper-wrapper {
  position: relative;
}

.eurobuild .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1234px;
}

.text-container__title {
  display: flex;
  flex-direction: column;
  width: 1234px;
  height: auto;
  gap: 20px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 65px;
  margin-bottom: 84px;
}

.services-container__title {
  text-align: left;
  width: 100%;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1234px;
  margin-bottom: 124px;
}

.underlined span {
  display: inline-block;
  position: relative;
}

.underlined span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 298px;
  height: 3px;
  background: #0059a8;
}

.services-container__item {
  padding-top: 53px;
  width: 396px;
  height: 194px;
}

.services-container__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-container__list {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.services-container .item-description {
  width: 309px;
  height: 149px;
  margin-top: -30px;
  background-color: white;
  position: relative;
  float: right;
}

.item-description a {
  color: #0074db;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1234px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 52px;
}

/* .footer{
 height: 344px;
 background: #2C4861 0% 0% no-repeat padding-box;
 display: flex;
 justify-content: center;
}

.footer-container{
    width: 1920px;
}

.footer .name-box{
    width: 291px;
    height: 93px;
    background-color: white;
} */
